@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="background-color: #6c757d; padding: 20px;">
    <h1 style="color: white;">@ViewData["Title"]</h1>
    <p style="color: white;">Use this page to detail your site's privacy policy.</p>
</div>
