@using static Labolatorium3.Models.Enum;
@model Reservation
@{
}
<div style="background-color: #f8f9fa; padding: 20px;">
<h2>Reservation Edit</h2>

<form asp-action="Edit" asp-controller="Reservation" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Date">Date:</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Region">Region:</label>
        <input asp-for="Region" class="form-control" />
        <span asp-validation-for="Region" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Room">Room:</label>
        <input asp-for="Room" class="form-control" />
        <span asp-validation-for="Room" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name">Owner:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
            <label asp-for="Priority">Priority:</label>
        <select class="form-control" asp-for="Priority" asp-items="@(Html.GetEnumSelectList<Priority>())"></select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrganizationId">Organization:</label>
        <select class="form-control" asp-for="OrganizationId" asp-items="@Model.Organizations"></select>
        <span asp-validation-for="OrganizationId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
</div>