@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Szczegóły kontaktu</h2>

<div>
    <dl class="dl-horizontal">
        <dt>ID:</dt>
        <dd>@Model.Id</dd>

        <dt>Imię:</dt>
        <dd>@Model.Name</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>


    </dl>
</div>

<p>
    <a asp-action="Index" asp-controller="Contact">Powrót do listy</a>
</p>
